<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImageAcquisitonProgram.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <ImageAcquisitonProgram.My.MySettings>
      <setting name="ImageURLs" serializeAs="String">
        <value>http://192.168.0.100
http://192.168.0.110
http://192.168.0.111</value>
      </setting>
      <setting name="IsEverySecond" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsEveryMinute" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsEveryHour" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsUserDefined" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsEverySecondNumb" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="IsEveryMinuteNumb" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="IsEveryHourNumb" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="IsUserDefinedText" serializeAs="String">
        <value>00:00:00-24:00:00(01:00:00)
07:00:00-20:00:00(00:15:00)</value>
      </setting>
      <setting name="AbortAfter" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="IsContinuousCapture" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsContinuousCaptureNumb" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="DestinationFolder" serializeAs="String">
        <value>D:\My Temp\Test</value>
      </setting>
      <setting name="IsKeepFilesMonthly" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FTPAddress" serializeAs="String">
        <value>phenocapture.com</value>
      </setting>
      <setting name="FTPUserID" serializeAs="String">
        <value>user2018@phenocapture.com</value>
      </setting>
      <setting name="FTPPass" serializeAs="String">
        <value>jGq62f</value>
      </setting>
      <setting name="FTPTargetFolder" serializeAs="String">
        <value>/monitor</value>
      </setting>
      <setting name="FTPPort" serializeAs="String">
        <value>21</value>
      </setting>
      <setting name="IsUseSSL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsSaveImage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsUploadToFTP" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Baudrate" serializeAs="String">
        <value>256000</value>
      </setting>
      <setting name="TargetDevice" serializeAs="String">
        <value>T3</value>
      </setting>
      <setting name="Illumination" serializeAs="String">
        <value>True</value>
      </setting>
    </ImageAcquisitonProgram.My.MySettings>
  </userSettings>
</configuration>
